/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


:root {
  /* color palette */
  --light-blue: #CAF0F8;
  --vivid-blue: #48CAE4;
  --bright-blue: #0096C7;
  --dark-blue: #184E77;
  --light-sand: #FFEED9;
  --white-blue: #EEFCFF;

  /*font-family*/
  --ff-default: "Song Myung";
  --ff-btn: 'Black Han Sans', sans-serif;

  /*font-weights*/
  --regular-font: 400;
  --med-font: 500;
  --semiBold-font: 600;
  --Bold-font: 700;
}

/* body {
  background-color: var(--light-green-color);
} */

* {
  font-family: var(--ff-default);
  font-weight: var(--regular-font);
}

ul,li{
  list-style:none;
}
